/* Style */
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}  
#homebut .ui-btn { height: 50px; font-size: 48px; line-height:30px;  }
.title {
    background:#000;
    color:#fff;
    text-align: center;
    height: 50px;
    width:100%;
    margin: auto;
    line-height:50px;
}

.dropzone-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.dropzone {
    overflow: hidden;
    margin: .5em;
    padding: 1em;
    color: #666;
    text-align: center;
    background: #ccc;
    line-height: 4em;
    border: 4px solid transparent;
    transition: background .15s linear, border-color .15s linear;
}

.dropzone.-drop-possible { border-color: #666; }

.dropzone.-drop-over {
    background: #666;
    color: #fff;
}

.draggable {
    position: relative;
    z-index: 10;
    width: 200px;
    margin: .25em;
    padding: 1em 2em;
    background-color: #29e;
    color: #fff;
    text-align: center;

    -ms-touch-action: none;
    touch-action: none;
}

.draggable.-drop-possible { background-color: #42bd41; }

    .open a, .open a:hover {
	padding: 7px 15px;
	background-color: #000;
	border-radius: 3px;
}
#page01 * {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		/* Arrow only buttons in the header. */
		#page01 .ui-header .ui-btn {
			background: none;
			border: none;
			top: 9px;
		}
		#page01 .ui-header .ui-btn-inner {
			border: none;
		}
		/* Content styling. */
		dl { font-family: 'Open Sans', sans-serif; padding: 1em; }
		dt { font-size: 2em; font-weight: bold; }
		dt span { font-size: .5em; color: #777; margin-left: .5em; }
		dd { font-size: 1.25em;	margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }
		.back-btn { float: right; margin: 0 2em 1em 0; }

.demo_circle {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;

    border-radius: 50%;
    
	width: 50px;
	height: 50px;
	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}
.demo_square {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    
	width: 40px;
	height: 40px;
}
.red {
    background: red;
}
.blue {
    background: blue;
}
.black {
    background: black;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
} 

img {
    width: 80px;
    height: 80px;
    padding-left: 5px;
}
.badge1, .badge2, .badge3, .badge4, .badge5, .badge6, .badge7, .badge8, .badge9, .badge10, .badge11, .badge12 {
    -webkit-filter: grayscale(1);
}